
.explorar-page {
  display: flex;
  width: 80%;
  margin: 20px auto;
  padding: 20px 0;
  background-color: #333;
  border-radius: 8px;
}

.explorar-main h2 {
  text-align: center;
  margin-bottom: 20px;
}

.explorar-main {
  flex: 1;
  padding: 0 20px;
}

.explorar-aside {
  width: 250px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  border-right: 2px solid #555;
}

.explorar-filtros {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.indumentarias-lista {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  gap: 10px;
}

.indumentaria-item {
  background-color: #111a;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
  border-radius: 16px;
}

.indumentaria-item:hover {
  box-shadow: 0 0 20px #ccc;
}

.indumentaria-imagen {
  width: 100%;
  border-radius: 8px 8px 0 0;
}

.preview-info {
  padding: 0 10px;
  font-size: 0.7em;
}

.logo-marca {
  width: 10%;
  height: 10%;
  margin-left: 2%;
}

.boton-comprar {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 4px;
  cursor: pointer;
}
.boton-comprar:hover {
  background-color: #0056b3;
}

.precio-item {
  font-size: 1.5em;
}
.texto-ars {
  font-size: 1em;
  opacity: 0.8;
}
.VerDetalle-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.VerDetalle-content {
  background-color: #222;
  padding: 20px;
  border-radius: 8px;

  max-width: 800px;
  position: relative;
  display: flex;
  gap: 20px;
  align-items: flex-start;
  text-align: left;
}

.indumentaria-imagen-VerDetalle {
  width: 45%;
  height: auto;
  border-radius: 0.5rem;
  margin: 0;
  object-fit: cover;
}

.VerDetalle-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.VerDetalle-info h3 {
  margin-bottom: 10px;
}

.VerDetalle-info p {
  margin: 5px 0;
}

.VerDetalle-content button {
  margin-top: 15px;
  margin-left: 5px;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.VerDetalle-content button:hover {
  background-color: #0056b3;
}