.inicio {
  padding: 20px;
}

.subtitulo {
  font-size: 1.6em;
  margin-bottom: 20px;
  text-align: center;
}

.nombre-producto {
  font-size: 1.2em;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.imagenes-productos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
}