/* App.css */
/* Estilos para el título principal */
.titulo {
  text-align: left;
  color: black;
  background-color: white;
  padding: 40px;
  margin: 0px;
  font-size: 50px;
}


.menu ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  background-color: lightgrey;
  overflow: hidden;
}

.menu a {
  text-decoration: none;
  text-align: center;
  font-size: 30px;
  color: black;
  padding: 20px;
  display: block;
}

.menu a:hover {
  background-color: gray;        
}

.menu li {
  float: left;
}