/* Estilos globales */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: white;
  color: black;
}

.encabezado {
  position: sticky;
  top: 0;
  z-index: 1000;
}

.logo {
  text-decoration: none;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #7a1e9e;
  font-size: 25px;
  padding: 10px;
  display: block;
  margin-left: 10px;
  margin-right: 20px;
}

.form-busqueda {
  display: flex;
  align-items: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 5px 10px;
  background-color: #fff;
}

.izquierda,
.derecha {
  display: flex;
  align-items: center;
}

.menu-lista {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding: 10px 20px;
  background-color: rgb(221, 221, 221);
}

.barra-busqueda {
  border: none;
  outline: none;
  font-size: 16px;
  width: 320px;
  background: transparent;
}

.boton-busqueda {
  margin-left: 8px;
  padding: 6px 10px;
  border-radius: 4px;
  border: none;
  background: #3176dd;
  color: #fff;
  cursor: pointer;
}

.boton-explorar,
.boton-carrito,
.boton-usuario {
  text-decoration: none;
  font-family:'Lucida Sans';
  color: #333;
  font-size: 20px;
  margin-right: 20px;
}

.menu-lista a:hover {
  color: rgb(49, 144, 221);
}

.pie-de-pagina {
  background-color: #f8f8f8;
  padding: 20px;
  text-align: center;
  font-size: 14px;
  color: #555;
  border-top: 1px solid #e7e7e7;
  margin-top: 5%;
}