.carrito-page {
  padding: 40px;
  background-color: #222;
}
.carrito-page h2 {
  text-align: center;
  margin-bottom: 20px;
}
.carrito-lista {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.carrito-item {
  background-color: #333;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.carrito-item button {
  background-color: #ff4d4f;
  color: #eee;
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
}
.carrito-item button:hover {
  background-color: #ff7875;
}

.boton-limpiar {
  background-color: #ff4d4f;
  color: white;
  margin-bottom: 1%;
  border: none;
  padding: 5px 16px;
  border-radius: 4px;
  cursor: pointer;
  font-size:large;
}

.boton-limpiar:hover {
  background-color: #ff7875;
}

.cantidad-controles {
  display: flex;
  align-items: center;
  gap: 10px;
}

.cantidad-controles button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
}

.cantidad-controles button:hover {
  background-color: #0056b3;
}

.cantidad-controles span {
  font-weight: bold;
}

.subtotal {
  margin-top: 10px;
}

.cantidad-controles button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.total-carrito {
  margin-top: 20px;
  font-size: 1.2em;
  font-weight: bold;
  text-align: right;
}

.iniciar-pedido {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 16px;
  border-radius: 4px;
  cursor: pointer;
  font-size: large;
}

.iniciar-pedido:hover {
  background-color: #0056b3;
}

.indumentaria-imagen-carrito {
  max-width: 100px;
  border-radius: 0.5rem;
  margin-right: 1rem;
}